doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Alexa徹底入門

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.9.0/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css')

  body

    article.deck

      section
        h2 Alexa徹底入門<br/><br/>
        h4 2019/08/05
        <div style="position: absolute;bottom: 10px;right: 10px"><i class="far fa-hand-point-right"></i></div>

      section
        h2 自己紹介
        br
        <image src="images/27805556.png" height="100" width="100"/>
        br
        div(style={"text-align": "left"})
          h4 お名前：寺原　歩
          h4 お会社：<a href="https://www.is-tech.co.jp/">(株)情報戦略テクノロジー<image src="images/ist_logo.png" height="20" width="20"/></a>
          h4 お所属：技術戦略推進部　　　　　　　　　　　　　　 　　 　
          h4 得意言語：ECMAScript　　　　　 　 　 　　　　　　　　　　
          h4 <br/><i class="fab fa-github">GitHub：</i>a-terarara　　　　　　　　　　　　　　　　　 　
          h4 今回の資料：https://a-terarara.github.io/lightning-talks_alexa
        <br>　　　　　　　　　　　　　　　　　　
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 今日話すこと<br/><br/>
        div(style={"text-align": "left"})
          ul.build.build-items
            li <h2>1. 今更Alexa？</h2>
            li <h2>2. Alexaの始め方</h2>
            li <h2>3. Alexa Structure</h2>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 何故今更Alexa？
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 先日のモブプロ会の一幕<br><br>
        div(style={"text-align": "left"})
          h3 <image src="images/27805556.png" height="20" width="20"/>「Alexaはskillとbackendからなるよ」
          h3 <image src="images/27805556.png" height="20" width="20"/>「skillには呼び出しとIntentがあってさ～」
          h3 <i class="fas fa-users"></i>「へ～知らんかったわぁ」
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 先日のモブプロ会の顛末<br><br>
        h3 <font color="red"><i class="fas fa-users"></i>「もっとAlexaで開発してみたい！」</font>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 Alexaの現状と開発者とのギャップ<br><br>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h4 Alexaを始めとしたVoice User Interface（会話型AI）は2018年8月に成長期、今年は・・・？
        <image src="https://emtemp.gcom.cloud/ngw/globalassets/ja/press-release/images/infographics/pr20180822-01img1.png" height="90%" />
        div(style={"text-align": "right"})
          h5 出典：ガートナー・ジャパン
          h6 https://www.gartner.com/jp/newsroom/press-releases/pr-20180822
      
      section
        h3 2019/7/22週の日本におけるAlexaSkillリリース数<br><br><br><br><br>
        img(src="images/alexerch.png")
        <br><br><br>
        h3 多い？少ない？ <i class="far fa-frown-open"></i>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 スキル内課金始めました<br>
        img(src="images/skill_subscribe.png" width="100%")
        br
        br
        div(style={"text-align": "right"})
          h5 Alexa「スキル内課金の概要」より
          h6 https://developer.amazon.com/ja/docs/in-skill-purchase/isp-overview.html
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 AlexaSkillにはまだチャンスが転がっている？

      section
        h1 Alexaの始め方
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 突然クイズ
        h4 Alexaってどーれだ？
        img(src="https://images-fe.ssl-images-amazon.com/images/G/09/kindle/categorypage/echo_alexa/cp_desktop_sh.jpg" height="80%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 実はこの子たちAlexaじゃなくてAmazon Echoなんです。
        img(src="https://images-fe.ssl-images-amazon.com/images/G/09/kindle/categorypage/echo_alexa/cp_desktop_skills.jpg" height="70%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 もとい
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 <a href="https://developer.amazon.com/ja/alexa-skills-kit/training/building-a-skill#%E3%82%B9%E3%82%AD%E3%83%AB%E9%96%8B%E7%99%BA%20%E5%9F%BA%E7%A4%8E%E3%83%88%E3%83%AC%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA">スキル開発 基礎トレーニングシリーズ</a>を読む
        table#desc
          tr
            th 索引
            th 概要
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/31c9fd71-f34f-49fc-901f-d74f4f20e28d/alexatraining-firstskill">初めてのスキル開発</a>
            td Tutorial
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/93bad9f6-377f-4ada-887c-279e7346f729/alexatraining-customskill">カスタムスキル</a>
            td Skill・Test・Backend説明
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/36665011-8980-471b-bcb0-d51e1d19f06a/alexatraining-customskill-slots">スロットの利用</a>
            td IntentSlots・同義語
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/319a5083-7858-4cb2-987e-5bcd7f833533/alexatraining-dialog">ユーザーとの対話</a>
            td Session・Reprompt
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/a35ad62f-dafa-4f4b-9648-a77913129871/alexatraining-advanceddevelopment">本格的なスキル開発に向けて</a>
            td ASK CLI・Skill公開
        div(style={"text-align": "left"})
          h4 　　　　　　　　　　　　　　　　　　　　所要時間：10分
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 開発に必要なもの
        div(style={"text-align": "left"})
          ul.build.build-items
            li <h3>・メールアドレス（またはAmazonアカウント）</h3>
            li <h3>以上</h3>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 スマホあればechoも不要です
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 AWSアカウントも不要です
        img(src="images/skill_backend.png" width="90%")
        h4 30日間無料枠を勝手に用意してくれます
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h1 Alexa Structure
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 全体
        img(src="https://m.media-amazon.com/images/G/09/mobile-apps/dex/alexa/alexa-skills-kit/jp/blog/trainingv3/customskill/0/insidecoffeeshop3.jpg" width="100%")
        h4 Backendが会話を受け取って処理を行う
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Skill
        div(style={"text-align": "left"})
          h3 Alexa Skill１つにつき１つの呼び出し名を持っています。
          h3 例１：「<font color="red">Alexa</font>、<font color="blue">天気</font>を教えて」
          h3 例２：「<font color="red">Alexa</font>、<font color="blue">ピカチュウ</font>を呼んで」
          h3 <font color="red">ウェイクワード「Alexa」</font>、<font color="blue">呼び出し名「天気」</font>
          h4 呼び出し名によって呼び出すSkillを切り替えています
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Skill
        div(style={"text-align": "left"})
          h3 Skill内の会話にはセッションを持ちます
          h3 <font color="green"><i class="fas fa-user"></i></font>「Alexa、コーヒーショップを開いて」
          h3 <i class="fas fa-volume-up"></i>「何をご注文なさいますか」
          h3 <font color="green"><i class="fas fa-user"></i></font>「アイスコーヒーください」
          h3 <i class="fas fa-volume-up"></i>「ご注文ありがとうございます」
          h4 呼び出し～会話の終わりまでAlexaSkillは待ち受けています
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Skill
        div(style={"text-align": "left"})
          h3 Skillは複数のインテント＝会話パターンを持ちます
          h3 例１：「アイスコーヒーください」
          h3 例２：「ストローもつけてください」
          h3 例３：「３杯お願いします」
          h4 あらかじめ会話パターンは定義しておきます
          h4 つまりユーザの会話を予測しておかなければなりません
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 インテント
        div(style={"text-align": "left"})
          h3 インテントにはフレーズスロット＝可変長の引数を定義できます
          h3 例１：「<font color="red">アイスコーヒー</font>ください」
          h3 例２：「<font color="red">紅茶</font>ください」
          h3 <font color="red">フレーズスロット「アイスコーヒー」、「紅茶」</font>
          h4 ユーザが自由に発話出来る引数を定義しておき、Backendの処理内容を変えられます
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 SearchQuery
        div(style={"text-align": "left"})
          h3 フレーズスロットは飲み物の種類等Amazon側で予め用意された単語を拾います
          h3 自由な単語を拾うためにはSearchQueryを使います
          h3 ただし、<font color="red">Alexa側で良い感じな変換処理をかけてくれない</font>ので、予想したフレーズと実際の発話フレーズが異なることがあります
          h3 例：「コーヒー」⇒「こおひい」
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 ここまで整理
        img(src="./images/intent_sequence.png" height="90%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 アカウントリンク
        h3 認可フローで別のリソースにアクセスする機能
        img(src="./images/accountlink_sequence.png" height="80%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 ユーザ情報取得API
        h3 Amazonアカウント情報にアクセスする機能
        img(src="./images/userinfo_sequence.png" height="70%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Skill Connections
        h3 別のSkillに連携出来るPreview機能
        img(src="https://m.media-amazon.com/images/G/01/DeveloperBlogs/AlexaBlogs/default/Connectionsblog._CB482811562_.png" width="80%")
        br
        div(style={"text-align": "left"})
          h3 例：「Alexa、Amazonで〇〇を購入して」
          h3 　　「注文書をプリンタで印刷して」
          h3 　　　⇒（別のSkillに情報連携して印刷予約）
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 声帯の変更
        h3 Backendのreturn時にSSML（音声合成マークアップ言語）を定義することで声帯を変更する
        h3 エフェクトの変更やmp3を読み上げさせるオプションもある
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Backend
        div(style={"text-align": "left"})
          h3 BackendはAWS Lambda・・・と思いきや下記の要件を満たせればなんでも良いです。
          h3 ・Rest API
          h3 ・I/FはJSON
          h3 ・エンドポイントは１つ
          h3 ・SSL通信
          h4 つまり言語もサーバも自由に選べます
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Moneyless Architecture
        img(src="./images/moneyless_architecture.png")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 I/F
        h3 I/Fは全てJSONで処理されます
        div(style={"text-align": "left"})
          h4 サンプルリクエスト
          pre
            code.language-javascript.
              {
                "request": {
                  "type": "IntentRequest",
                  "intent": {
                    "name": "HelloWorldWithNameIntent",
                    "slots": {
                      "firstName": {
                        "name": "firstName",
                        "value": "terarara",
                        "confirmationStatus": "NONE"
                      },
                    ・・・
          h4 HelloWorldWithNameIntentにfirstNameを渡しています
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 単体テスト
        div(style={"text-align": "left"})
          h3 I/F情報を保持しておけば単体テストコードも書けます
          pre
            code.language-javascript.
              const request = {・・・} //JSONをコピペ
              describe("お試し", () => {
                it("requestを処理すると注文を受け付ける", () => {
                  const response = target(request, res);
                  assert.deepEqual(
                    res.body.response.outputSpeech.ssml,
                    "&lt;speak>ご注文ありがとうございます&lt;/speak>"
                  );
                });
              }
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 コード管理
        h3 AlexaSkillはJSONエクスポートすることでコード管理が可能です
        h3 backendは言わずもがな、管理しておきましょう
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 以上
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
    
    script(src='build/build.js')
