doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Alexa徹底入門

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.9.0/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css')

  body

    article.deck

      section
        h2 Alexa徹底入門<br/><br/>
        h4 2019/08/05
        <div style="position: absolute;bottom: 10px;right: 10px"><i class="far fa-hand-point-right"></i></div>

      section
        h2 自己紹介
        br
        <image src="images/27805556.png" height="100" width="100"/>
        br
        div(style={"text-align": "left"})
          h4 お名前：寺原　歩
          h4 お会社：<a href="https://www.is-tech.co.jp/">(株)情報戦略テクノロジー<image src="images/ist_logo.png" height="20" width="20"/></a>
          h4 お所属：技術戦略推進部　　　　　　　　　　　　　　 　　 　
          h4 得意言語：ECMAScript　　　　　 　 　 　　　　　　　　　　
          h4 <br/><i class="fab fa-github">GitHub：</i>a-terarara　　　　　　　　　　　　　　　　　 　
          h4 今回の資料：https://a-terarara.github.io/lightning-talks_alexa
        <br>　　　　　　　　　　　　　　　　　　
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 今日話すこと<br/><br/>
        div(style={"text-align": "left"})
          ul.build.build-items
            li <h2>1. 今更Alexa？</h2>
            li <h2>2. Alexaの始め方</h2>
            li <h2>3. Alexa Structure</h2>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 何故今更Alexa？
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 先日のモブプロ会の一幕<br><br>
        div(style={"text-align": "left"})
          h3 <image src="images/27805556.png" height="20" width="20"/>「Alexaはskillとbackendからなるよ」
          h3 <image src="images/27805556.png" height="20" width="20"/>「skillには呼び出しとIntentがあってさ～」
          h3 <i class="fas fa-users"></i>「へ～知らんかったばい」
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 <image src="images/27805556.png" height="40" width="40"/>.oO (・・・意外と知られてないもんだなぁ)
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 先日のモブプロ会の顛末<br><br>
        h3 <font color="red"><i class="fas fa-users"></i>「もっとAlexaで開発してみたい！」</font>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 Alexaの現状と開発者とのギャップ<br><br>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h4 Alexaを始めとしたVoice User Interface（会話型AI）は2018年8月に成長期、今年は・・・？
        <image src="https://emtemp.gcom.cloud/ngw/globalassets/ja/press-release/images/infographics/pr20180822-01img1.png" height="90%" />
        div(style={"text-align": "right"})
          h5 出典：ガートナー・ジャパン
          h6 https://www.gartner.com/jp/newsroom/press-releases/pr-20180822
      
      section
        h3 Voice User Interfaceの歴史
        div(style={"text-align": "left"})
          h4 1952年Audrey誕生
        img(src="https://miro.medium.com/max/1278/0*5xnYyyvT7hjQ_EX7.png" height="70%")
        h4 当時はSpeech Recognitionと総称されていた
        br
        div(style={"text-align": "right"})
          h6 https://en.wikipedia.org/wiki/Speech_recognition より
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 2019/7/22週の日本におけるAlexaSkillリリース数<br><br><br><br><br>
        img(src="images/alexerch.png")
        <br><br><br>
        h3 多い？少ない？ <i class="far fa-frown-open"></i>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 スキル内課金始めました<br>
        img(src="images/skill_subscribe.png" width="100%")
        br
        br
        div(style={"text-align": "right"})
          h5 Alexa「スキル内課金の概要」より
          h6 https://developer.amazon.com/ja/docs/in-skill-purchase/isp-overview.html
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 ユーザ企業にAlexaSkillの選択肢を与えよう

      section
        h1 Alexaの始め方
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 突然クイズ
        h4 Alexaってどーれだ？
        img(src="https://images-fe.ssl-images-amazon.com/images/G/09/kindle/categorypage/echo_alexa/cp_desktop_sh.jpg" height="80%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 実はこの子たちAlexaじゃなくてAmazon Echoなんです。
        img(src="https://images-fe.ssl-images-amazon.com/images/G/09/kindle/categorypage/echo_alexa/cp_desktop_skills.jpg" height="70%")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 もとい
        h2 Alexaの始め方
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h3 <a href="https://developer.amazon.com/ja/alexa-skills-kit/training/building-a-skill#%E3%82%B9%E3%82%AD%E3%83%AB%E9%96%8B%E7%99%BA%20%E5%9F%BA%E7%A4%8E%E3%83%88%E3%83%AC%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA">スキル開発 基礎トレーニングシリーズ</a>を読む
        table#desc
          tr
            th 索引
            th 概要
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/31c9fd71-f34f-49fc-901f-d74f4f20e28d/alexatraining-firstskill">初めてのスキル開発</a>
            td Tutorial
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/93bad9f6-377f-4ada-887c-279e7346f729/alexatraining-customskill">カスタムスキル</a>
            td Skill・Test・Backend説明
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/36665011-8980-471b-bcb0-d51e1d19f06a/alexatraining-customskill-slots">スロットの利用</a>
            td IntentSlots・同義語
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/319a5083-7858-4cb2-987e-5bcd7f833533/alexatraining-dialog">ユーザーとの対話</a>
            td Session・Reprompt
          tr
            td <a href="https://developer.amazon.com/ja/blogs/alexa/post/a35ad62f-dafa-4f4b-9648-a77913129871/alexatraining-advanceddevelopment">本格的なスキル開発に向けて</a>
            td ASK CLI・Skill公開
        div(style={"text-align": "left"})
          h4 　　　　　　　　　　　　　　　　　　　　所要時間：10分
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 開発に必要なもの
        div(style={"text-align": "left"})
          ul.build.build-items
            li <h3>・メールアドレス（またはAmazonアカウント）</h3>
            li <h3>以上</h3>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 スマホあればechoも不要です
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 AWSアカウントも不要です
        img(src="images/skill_backend.png" width="90%")
        h4 30日間無料枠を勝手に用意してくれます
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h1 Alexa Structure
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 全体
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Skill
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 Backend
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 I/F
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 code？
        pre
          code.language-javascript.
            const dummy = "dummy"
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h1 以上
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
    
    script(src='build/build.js')
